<?xml version="1.0" encoding="utf-8"?>
<Media Key="591e762d-64bc-40c3-b534-9d2391687365" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="3daf7650-ff14-4840-a3f6-82038f3c0ca8">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:06:39</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/15flzo3h/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>