<?xml version="1.0" encoding="utf-8"?>
<Media Key="782f7d54-eaa5-4f80-8662-7571ef3995ca" Alias="Assurance-And-Audits.svg" Level="2">
  <Info>
    <Parent Key="93065880-4322-4402-968a-fe5503f14fdb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAndAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T23:36:50</CreateDate>
    <NodeName Default="Assurance-And-Audits.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u1ai1gv4/assurance-and-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>