<?xml version="1.0" encoding="utf-8"?>
<Media Key="191c3256-f3ab-4b50-b14c-ea9e09a70044" Alias="Bonds-And-Commodities.svg" Level="2">
  <Info>
    <Parent Key="93065880-4322-4402-968a-fe5503f14fdb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsAndCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T23:36:50</CreateDate>
    <NodeName Default="Bonds-And-Commodities.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ushl343q/bonds-and-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>