<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e878bb9-18a7-4d1e-9e7b-98de5142a1aa" Alias="brand1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:53:18</CreateDate>
    <NodeName Default="brand1.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jm1clxf2/brand1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>