<?xml version="1.0" encoding="utf-8"?>
<Media Key="38de71c8-9c01-4418-9950-8fae86ece043" Alias="brand5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:53:17</CreateDate>
    <NodeName Default="brand5.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hlghzwq0/brand5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>