<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c774355-0122-4f4b-8a22-1544d6df0867" Alias="brand6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:53:18</CreateDate>
    <NodeName Default="brand6.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u55nlxrz/brand6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>