<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cea14dd-4e69-4f64-82ad-705bf6bd0c0a" Alias="brand3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:53:18</CreateDate>
    <NodeName Default="brand3.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f4ufrpts/brand3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>