<?xml version="1.0" encoding="utf-8"?>
<Media Key="15924206-d90a-4c08-99aa-4272e6322f96" Alias="brand4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:53:17</CreateDate>
    <NodeName Default="brand4.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4t5db3yr/brand4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>