<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c259565-1531-4cf7-a10b-bf7f4d89276b" Alias="brand2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:53:18</CreateDate>
    <NodeName Default="brand2.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s2uiphrk/brand2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>