<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d7e6b9b-7621-4c13-b9e8-9ac75100774f" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="3daf7650-ff14-4840-a3f6-82038f3c0ca8">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:06:38</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhlnzpz0/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>