<?xml version="1.0" encoding="utf-8"?>
<Media Key="60eea147-be6c-4402-8e44-95018db7783a" Alias="Dot-Net-User.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotNetUserpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T19:55:22</CreateDate>
    <NodeName Default="Dot-Net-User.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zbvlrvqf/dot-net-user.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>