<?xml version="1.0" encoding="utf-8"?>
<Media Key="bca388c0-e9a3-4789-9e07-ce9132ca7ed6" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="3daf7650-ff14-4840-a3f6-82038f3c0ca8">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:06:38</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gi0bcxvy/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>