<?xml version="1.0" encoding="utf-8"?>
<Media Key="02a1c585-e776-4bf1-b816-ce8fc289d472" Alias="Kevin-Gardner-Smile.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardnerSmilesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:01:43</CreateDate>
    <NodeName Default="Kevin-Gardner-Smile.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o32ahydn/kevin-gardner-smile.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>