<?xml version="1.0" encoding="utf-8"?>
<Media Key="b33dd9c7-b6c8-406a-a250-11e096450d60" Alias="Map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T18:43:29</CreateDate>
    <NodeName Default="Map.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gvsj4uot/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>