<?xml version="1.0" encoding="utf-8"?>
<Media Key="011c01ce-9265-46cb-b505-39c5e6c55cb9" Alias="Onatrix-Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:37:38</CreateDate>
    <NodeName Default="Onatrix-Logo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hs4l3y14/onatrix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>