<?xml version="1.0" encoding="utf-8"?>
<Media Key="055d6ec5-9bcf-415e-8ba0-b7bded1b225b" Alias="Onatrix-Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T14:21:42</CreateDate>
    <NodeName Default="Onatrix-Signature.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g5jp5z4u/onatrix-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>