<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cfe9982-f296-4363-8c49-e6a5393332e9" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="93065880-4322-4402-968a-fe5503f14fdb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T23:36:50</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oasfzhun/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>