<?xml version="1.0" encoding="utf-8"?>
<Media Key="93065880-4322-4402-968a-fe5503f14fdb" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T23:36:09</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>