<?xml version="1.0" encoding="utf-8"?>
<Media Key="b57c0393-0dc0-4b0e-952f-3411876a58b2" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="93065880-4322-4402-968a-fe5503f14fdb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T23:36:50</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mg5n2v41/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>