<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b091afc-78ec-48ff-8fbc-e7ad52712784" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="3daf7650-ff14-4840-a3f6-82038f3c0ca8">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:07:00</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0tlxwpx/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>