<?xml version="1.0" encoding="utf-8"?>
<Content Key="31317747-46b4-44d6-8628-dc5814cd77c2" Alias="2025-11-16 15:43 - dsgsd" Level="2">
  <Info>
    <Parent Key="c5aeacbb-982b-47a1-baac-1efb15d13a2c">Form Submissions</Parent>
    <Path>/FormSubmissions/dsgsd</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T15:43:52</CreateDate>
    <NodeName Default="2025-11-16 15:43 - dsgsd" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mail@mail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[dsgsd]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0151515155]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>