<?xml version="1.0" encoding="utf-8"?>
<Content Key="43eb7003-cbf7-446f-a415-cfb2c5665e50" Alias="2025-11-16 15:11 - Oscar" Level="2">
  <Info>
    <Parent Key="c5aeacbb-982b-47a1-baac-1efb15d13a2c">Form Submissions</Parent>
    <Path>/FormSubmissions/Oscar</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T15:11:38</CreateDate>
    <NodeName Default="2025-11-16 15:11 - Oscar" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mail@mail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Oscar]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0151515155]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>