<?xml version="1.0" encoding="utf-8"?>
<Content Key="a27a0a42-7a18-49f8-86cf-c56842bb13f2" Alias="Contact" Level="2">
  <Info>
    <Parent Key="de2e2540-c57b-4187-bec0-676c9d0576b3">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-14T12:25:34</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de17ffb1-8c98-472f-b58c-f497207d922e">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>