<?xml version="1.0" encoding="utf-8"?>
<Content Key="a27a0a42-7a18-49f8-86cf-c56842bb13f2" Alias="Contact" Level="2">
  <Info>
    <Parent Key="de2e2540-c57b-4187-bec0-676c9d0576b3">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-14T12:25:34</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de17ffb1-8c98-472f-b58c-f497207d922e">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ec5751a1-6e2f-41c2-af03-10b3ad1c457f",
      "key": "6ecc347f-b83c-4b87-98dc-c3e48c8bbfb7",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f59427a5-c32a-4552-b381-581686aa2c31",
                "key": "22b74c0d-9e45-47be-b748-8b043927ad9d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "57fe169a-df3e-462e-96c7-6e564fc669b5",
                        "mediaKey": "3e878bb9-18a7-4d1e-9e7b-98de5142a1aa",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f59427a5-c32a-4552-b381-581686aa2c31",
                "key": "5886d6a7-0d14-48bf-bd00-cedb241412a1",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e3b1fb0d-a8f9-40ba-84cf-08a373724633",
                        "mediaKey": "7c259565-1531-4cf7-a10b-bf7f4d89276b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f59427a5-c32a-4552-b381-581686aa2c31",
                "key": "58541f9e-3482-411d-92f2-02b2a5466697",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f0908db4-c55e-48d5-b9dc-6c9bda93f3e3",
                        "mediaKey": "5cea14dd-4e69-4f64-82ad-705bf6bd0c0a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f59427a5-c32a-4552-b381-581686aa2c31",
                "key": "ce131d13-14be-4579-95a2-2c6c6e0c27f5",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "785032b4-e90f-4daf-af78-c70dd9b68f24",
                        "mediaKey": "15924206-d90a-4c08-99aa-4272e6322f96",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f59427a5-c32a-4552-b381-581686aa2c31",
                "key": "aef1817e-a914-40da-b738-4e238b6c92fa",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "76206d45-13f3-417a-bd64-c3df7ae6338b",
                        "mediaKey": "38de71c8-9c01-4418-9950-8fae86ece043",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f59427a5-c32a-4552-b381-581686aa2c31",
                "key": "4036e379-ae3a-42ee-9f8d-75e436b17f86",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ce101080-35b6-473c-85b3-0c1e149132d8",
                        "mediaKey": "3c774355-0122-4f4b-8a22-1544d6df0867",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "22b74c0d-9e45-47be-b748-8b043927ad9d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5886d6a7-0d14-48bf-bd00-cedb241412a1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "58541f9e-3482-411d-92f2-02b2a5466697",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ce131d13-14be-4579-95a2-2c6c6e0c27f5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "aef1817e-a914-40da-b738-4e238b6c92fa",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4036e379-ae3a-42ee-9f8d-75e436b17f86",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "22b74c0d-9e45-47be-b748-8b043927ad9d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5886d6a7-0d14-48bf-bd00-cedb241412a1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "58541f9e-3482-411d-92f2-02b2a5466697",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ce131d13-14be-4579-95a2-2c6c6e0c27f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "aef1817e-a914-40da-b738-4e238b6c92fa",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4036e379-ae3a-42ee-9f8d-75e436b17f86",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "0312b5b0-23ce-4760-86b4-d71e0ffc9eda",
      "key": "df2704f1-ef91-4a08-bd8f-30d73ddc2ef3",
      "udi": null,
      "values": [
        {
          "alias": "mapImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "eeaaed60-db95-4448-bf97-7f39af4e9939",
              "mediaKey": "b33dd9c7-b6c8-406a-a250-11e096450d60",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f49f3c25-33bc-4c0b-9fe6-15ac036131ee",
      "key": "5289c55b-d963-434f-8c2c-0c8979b73e9f",
      "udi": null,
      "values": [
        {
          "alias": "aboutCallbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "REQUEST A CALL BACK"
        },
        {
          "alias": "aboutCallbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "aboutCallbackSectionBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-lg font-regular\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8a10178c-d6b6-40d4-b2a8-9d2d9855889c",
      "key": "cf535b23-24f7-4cdf-b441-13939ebaeadd",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Finacial consulting\nProject planning\nBusiness"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6ecc347f-b83c-4b87-98dc-c3e48c8bbfb7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "df2704f1-ef91-4a08-bd8f-30d73ddc2ef3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5289c55b-d963-434f-8c2c-0c8979b73e9f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "df2704f1-ef91-4a08-bd8f-30d73ddc2ef3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5289c55b-d963-434f-8c2c-0c8979b73e9f",
        "contentUdi": null,
        "settingsKey": "cf535b23-24f7-4cdf-b441-13939ebaeadd",
        "settingsUdi": null
      },
      {
        "contentKey": "6ecc347f-b83c-4b87-98dc-c3e48c8bbfb7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>