<?xml version="1.0" encoding="utf-8"?>
<Content Key="22c10c6b-e7de-4fdc-bab0-44e23db3164e" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="7946795e-f140-47e2-bcdf-c205400863a2">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-14T23:38:05</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e9447af-ca28-41c0-9ba6-274f25bca837">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "16c8442c-b896-4cc3-bdec-486b3d7782fe",
      "key": "7b872a30-f4bc-464d-a19f-26ccd5417272",
      "udi": null,
      "values": [
        {
          "alias": "contactUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a3ab0385-d49f-4ac3-91a9-a73f0b50a66d",
              "mediaKey": "60eea147-be6c-4402-8e44-95018db7783a",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7b872a30-f4bc-464d-a19f-26ccd5417272",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7b872a30-f4bc-464d-a19f-26ccd5417272",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "07d25350-b0d6-4803-b025-0cd09247753d",
    "mediaKey": "f5ba6a98-6c8e-4113-b44d-0fbbbadbb5bb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>