<?xml version="1.0" encoding="utf-8"?>
<Content Key="8da781b6-b586-4627-8996-66f6faa967e5" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="7946795e-f140-47e2-bcdf-c205400863a2">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-14T23:39:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e9447af-ca28-41c0-9ba6-274f25bca837">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "d8651c67-c8c3-4805-8530-4c17a2c92420",
    "mediaKey": "7cfe9982-f296-4363-8c49-e6a5393332e9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>