<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f77652b-e927-4948-abcf-f9948526128f" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="7946795e-f140-47e2-bcdf-c205400863a2">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-14T23:38:28</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e9447af-ca28-41c0-9ba6-274f25bca837">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "16c8442c-b896-4cc3-bdec-486b3d7782fe",
      "key": "b1a1f790-7e66-4e46-a320-c084d3459a90",
      "udi": null,
      "values": [
        {
          "alias": "contactUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7eb633c7-d2b8-48ad-8f40-9e66e75ebd0d",
              "mediaKey": "60eea147-be6c-4402-8e44-95018db7783a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactUsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactUsLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactUsPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactUsEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b1a1f790-7e66-4e46-a320-c084d3459a90",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b1a1f790-7e66-4e46-a320-c084d3459a90",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactSection>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "38f9680f-8026-467e-9639-de6c977138cb",
    "mediaKey": "ddc097d6-248b-486d-8119-8e3a0803985f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>