<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc63eb98-d615-49e1-890e-b26bc280dcc2" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3cce3c57-2559-4b7f-911e-5f771cc92a49"
    },
    {
      "contentElementTypeKey": "07fc2b61-46a9-4497-a6e6-18f2005c7239",
      "settingsElementTypeKey": "8f4c08dd-294d-4e07-a7e4-12cf1b6e67f1"
    },
    {
      "contentElementTypeKey": "ec086e2a-2aba-4b6a-b4da-29af3d22e80a"
    },
    {
      "contentElementTypeKey": "f49f3c25-33bc-4c0b-9fe6-15ac036131ee",
      "settingsElementTypeKey": "8a10178c-d6b6-40d4-b2a8-9d2d9855889c"
    },
    {
      "contentElementTypeKey": "4dde3d31-f246-419e-a3fa-a97a17139ce9"
    },
    {
      "contentElementTypeKey": "4201a618-bba1-4da0-9103-bf747c1a133a"
    },
    {
      "contentElementTypeKey": "ec5751a1-6e2f-41c2-af03-10b3ad1c457f"
    },
    {
      "contentElementTypeKey": "0312b5b0-23ce-4760-86b4-d71e0ffc9eda"
    }
  ]
}]]></Config>
</DataType>