<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc63eb98-d615-49e1-890e-b26bc280dcc2" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3cce3c57-2559-4b7f-911e-5f771cc92a49"
    },
    {
      "contentElementTypeKey": "07fc2b61-46a9-4497-a6e6-18f2005c7239",
      "settingsElementTypeKey": "8f4c08dd-294d-4e07-a7e4-12cf1b6e67f1"
    },
    {
      "contentElementTypeKey": "ec086e2a-2aba-4b6a-b4da-29af3d22e80a"
    }
  ]
}]]></Config>
</DataType>