<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c686d34-4933-438d-8162-7581b4c33519" Alias="Partner List" Level="1">
  <Info>
    <Name>Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f59427a5-c32a-4552-b381-581686aa2c31"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 6
  }
}]]></Config>
</DataType>