<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae172665-bb8b-4ea0-a939-a0dc9ea29e13" Alias="Service Detail Aside - List" Level="1">
  <Info>
    <Name>Service Detail Aside - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "35fecc93-a38e-4582-80c8-2a86ceab4e99"
    }
  ]
}]]></Config>
</DataType>