<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5adf403-9a14-4f6f-b71b-773a261c65c3" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1d1c1f18-c9f1-4c91-8d2a-6b2862964b82",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>