<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a06112f-a7de-479d-aa78-a4236cbeaea9" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "876d0630-2c38-4863-9a61-464e8d31839e",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>