<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="897f68b2-8150-4b49-a52e-c35c12e6e569" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d55923b8-2f21-4e59-b8a2-65cb0ab1bb61">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="278af941-7ed9-4b14-9c42-8e2414d9d941" SortOrder="0">contactPage</ContentType>
    <ContentType Key="cb0ea04d-5f2e-4735-a0f0-6f3b356998e6" SortOrder="1">servicePage</ContentType>
    <ContentType Key="8fbdf119-5ea8-4166-91d5-30ff2e983e14" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>196de148-2eb7-4b42-b2c8-926f4ca5c75b</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>fc63eb98-d615-49e1-890e-b26bc280dcc2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0e640373-44d7-4a69-a14c-cab10a48cac4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>